# Additional Python packages for the custom Airflow image
# Add your custom requirements here

# Common packages that are often needed in Airflow environments
pandas==2.1.4
requests==2.31.0

# Airflow providers for specific integrations
apache-airflow-providers-postgres==6.3.0
psycopg2-binary==2.9.9


apache-airflow-providers-http==5.2.2
apache-airflow-providers-samba==4.11.0
apache-airflow-providers-sftp==5.4.0
